 body
{ 
background-color:black;
font-family: PT sans;
height:100%;
}
h2 {
  text-align: left;
  color: white;
  margin-top:55px;
  font-style:bolder;
}
h4 {
	text-align:left;
	color:white;
	font-style:bold;
	font-size:14px;
}
h5 {
	text-align: left;
	color:grey;
	line-height:2;
}
.header-text h4 {
	line-height:2;
	text-align:right;
	font-style:bolder;
}
@media (max-width: 994px){
	.header-text h4 {
	line-height:1;
	text-align:right;
	font-style:bolder;
}}
.yolo h2 {	letter-spacing:-1px;
	font-weight:bolder;
	margin-top:85px;
}
.yolo h4 {
	letter-spacing:-1px;
	font-weight:bolder;
	color:grey;
	font-size:17px;
	line-height:2;
	margin-top:25px;
}
.loyo h2 {
	letter-spacing:-1px;
	font-weight:bolder;
	margin-top:85px;
}
.loyo h3 {
	font-weight:bolder;
	color:white;
}
.loyo h4 {
	letter-spacing:-1px;
	font-weight:bolder;
	color:grey;
	font-size:17px;
	line-height:2;
	margin-top:25px;
}
.gustave img {
	 width: 145px;
	 height: 140px;
	 margin-top: 50px;
}
.gustave h4 {
	margin-top:60px;
	margin-left:300px;
}
.gustave h5 {
	margin-left:300px;
}
.pipi .right.carousel-control{
  width:60%;
  background: -webkit-linear-gradient(left, transparent , #FFF)!important;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: #333333;
  margin-top: 150px;
  color:white;
}
#custom-search-form {
        margin:0;
        margin-top: 37px;
        padding: 0;
		margin-right:100px;
    }
 
    #custom-search-form .search-query {
        height:40px;
		width:100%;
		
    }
.btn-primary{
	border-radius:0;
}

p {
    margin: 0;
    padding: 0;
}
p::first-letter {
	font-size:150%
}
.text-left {
	letter-spacing: 8px;
	font-size: 9px;
	color:white;
	position:relative;
	margin-top:37px;
}
.carousel {
    position: relative;
    top:0;

}
.header-text {
    position: absolute;
    top: 20%;
	text-align:right;
    color: #000;
	right:-2%;
}

.header-text h2 {
	letter-spacing: 6px;
    font-size: 30px;
	font-style:bold;
	text-align:right;
	color:#000;
	}
.header-text h4 {
	color:#000;
	text-align:right;
	font-style:bold;
}
 .carousel-control 
.glyphicon-chevron-left{
	color:grey;
}
 .carousel-control 
.glyphicon-chevron-right{
    display: inline-block;
    position: absolute;
    right:20%;
    z-index: 5;
	color:grey;
}

.navbar-static-top {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 0;
  height:95px;
  position: absolute;
  top:0;
  left:0;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}
.navbar-toggle .icon-bar{ background-color: #fff;}

@media (min-width: 768px){

.nav.navbar-nav > li > a {
    color: #FFFFFF;
	margin-top:20px;
	margin-left:5px;
	margin-right:5px;
	text-align: center;
	
}
.navbar-static-top .navbar-nav > li > a:hover, .navbar-static-top .navbar-nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0.5) !important;
    color: orange;
}
.navbar-brand>img {
position:absolute;
margin-left: 50px;
margin-right:10px;

}
.navbar-toggle {
    margin-top: 25px; // Adjust toggle position
  }

}